* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(185, 41%, 84%);
  color: white;
  font-family: "Space Mono", monospace;
  cursor: default;
}

/* MAIN */

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  scale: 1.3;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 80px 0;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
}

/* SECTION */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
  height: 350px;
  width: 630px;
  background: white;
  color: hsl(183, 100%, 15%);
  border-radius: 20px;
  font-size: 10px;
  -webkit-box-shadow: 0px 29px 45px -15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 29px 45px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 29px 45px -15px rgba(0, 0, 0, 0.3);
}

#bill-label {
  padding-bottom: 5px;
}

/* BILL INPUT */

#bill-input {
  background: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 8px;
  background-color: hsl(189, 41%, 97%);
  margin-bottom: 35px;
  color: hsl(183, 100%, 15%);
}

/* #bill-input::placeholder {
  font-size: 18px;
} */

input {
  width: 250px;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 24px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}

input:focus {
  outline: 1px solid hsl(172, 67%, 45%);
}

input::placeholder {
  color: hsl(184, 14%, 56%);
}

.pourcents-container {
  padding: 10px 0 20px 0;
}

.pourcents {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 250px;
  font-weight: 600;
}

/* POURCENTAGE BUTTONS */

button {
  border: none;
  cursor: pointer;
}

.pourcentage {
  color: white;
  background: hsl(183, 100%, 15%);
  width: 80px;
  height: 30px;
  margin: 5px 0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.pourcentage:hover {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/* POURCENTAGE AMOUNTS */

/* PEOPLE NUMBER LABEL */

#people-label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
#zero-message {
  color: hsl(11, 36%, 58%);
  display: none;
}

/* PEOPLE NUMBER INPUT */

#people-number {
  background: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 8px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}

/* #people-number:focus {
  outline: 1px solid hsl(11, 36%, 58%);
} */

#custom {
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  transition: 0.3s ease-in-out;
  text-align: right;
}

#custom:hover {
  border: 1px solid hsl(172, 67%, 45%);
}

/* TIP SECTION */

.tip {
  position: relative;
  color: white;
  background: hsl(183, 100%, 15%);
  width: 300px;
  height: 300px;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 10px;
}

article {
  padding-bottom: 30px;
}

.tip-amount,
.tip-total {
  display: flex;
  justify-content: space-between;
}

.tip-amount {
  padding-top: 20px;
}

.tip-detail {
  color: hsl(184, 14%, 56%);
  font-size: 10px;
}

#amount,
#total {
  color: hsl(172, 67%, 45%);
  font-size: 24px;
  font-weight: 600;
}

/* RESET BUTTON */

#reset {
  position: absolute;
  background: hsl(183, 69%, 21%);
  color: hsl(184, 76%, 18%);
  margin-top: 70px;
  border: none;
  width: 230px;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

#reset:hover {
  background: hsl(185, 41%, 84%);
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0.625rem;
  width: 100vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
/* MOBILE */

@media screen and (max-width: 430px) {
  h1 {
    padding: 1.875rem;
    font-size: 0.75rem;
  }
  form {
    flex-direction: column;
    width: 20.3125rem;
    height: 43.75rem;
    scale: 1;
  }
  footer {
    display: none;
  }
}
